body {
  background-color: #e1e7ef;
  }

.container{
	display: flex;
	flex-direction: column;

	align-items: center;
	align-content: center;

	margin: 10px auto;
	width: 1024px;
	text-align: center;
	background-color: #cccccc;
	margin-bottom: 20px;
	border-radius: 15px;
	box-shadow:  0 0 5px  rgba(0,0,0,0.6);
	padding-top: 50px;
	padding-bottom: 50px;
}


input[type=text], input[type=password], input[type=email], input[type=number] {
	width: 40%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

select {
	width: 43%;
	padding: 15px;
	margin: 5px 0 40px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	color: #868789;
}

button {
	border-radius: 25px;
	padding: 10px;
	background-color: #efdccb;
	border: none;
}

